@import 'normalize.css';

:root {
    --primary: #ff3b5c;
    --black: #000;
    --white: #fff;
    --text-color: #161823;

    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'IBM Plex Sans', 'TikTokFont';
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a[href] {
    text-decoration: none;
    color: var(--text-color);
}

// Font embedded    
@font-face {
    font-family: TikTokFont;
    src: url(/assets/fonts/TikTokDisplayFont-Bold.woff2);
    font-weight: 700;
}

@font-face {
    font-family: TikTokFont;
    src: url(/assets/fonts/TikTokFont-Bold.woff2);
    font-weight: 700;
}

@font-face {
    font-family: TikTokFont;
    src: url(/assets/fonts/TikTokFont-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: TikTokFont;
    src: url(/assets/fonts/TikTokFont-Semibold.woff2);
    font-weight: 600;
}

// Custom tippy tooltip
body {
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 2.2rem;
        border-radius: 8px;
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 8px 9px;
    }

    .tippy-box[data-placement^=bottom]>.tippy-arrow:before {
        top: -8px;
    }
}
